<header class="bg-white shadow h-[10vh] p-4 flex justify-between items-center">
    <div id="nav-left" class="flex flex-col items-start justify-center">
        <h1 class="text-xl font-bold">Chat</h1>
        <h5 class="typing text-sm hidden text-green-600 font-semibold">Typing....</h5>
    </div>
    <button id="video-call-btn" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Video
        Call</button>
</header>